@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin:0 ;
    padding:0 ;
}


body {
    color:#A68E8A;
background: #331C18;
background: linear-gradient(90deg, rgba(51, 28, 24, 1) 38%, rgba(166, 142, 138, 1) 100%);
    font-family: "Ubuntu", sans-serif;
    height: 100vh;
}

h1{
    font-size: 50px;
    transition: 2s;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    border-right: 0.15em solid #A68E8A;
    animation: 3s linear 0s forwards typing, blink 0.75s step-end infinite;
}

h1:hover {
    font-size: 55.5px;
    transition: 1s;
    transition: 1s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #A68E8A;
    text-decoration:underline;
}

a {
     color:#5d5d5d ;
     font-size: 20px;
     text-decoration: none;
     transition: 1s;
}

section:hover {
box-shadow: 12px 8px 21px -1px rgba(0,0,0,0.77);
-webkit-box-shadow: 12px 8px 21px -1px rgba(0,0,0,0.77);
-moz-box-shadow: 12px 8px 21px -1px rgba(0,0,0,0.77);
    transition:1.5s;
}

li a:hover{
    font-size: 25px;
    transition: 1s;
    margin: 10px;

}

section {
     background-color: #A68E8A ;
     color:#331C18;
     padding: 20px;
     border-radius: 10px;
     margin: 20px;
}

section a {
    color: #5d6c93
}

header {
      width: 50%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#conteudo-principal {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a98e88;
}


header ul {
    list-style: none;
    display: flex;
    margin: 10px
}
header ul li {
    margin: 3px
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }

}
@keyframes typinggrande {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }

}

@keyframes blink {
    from, to {
        border-color: transparent;
    }

     50%   {
        border-color: #A68E8A
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   header {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}  
h1{
    font-size: 37.5px;
    transition: 2s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #A68E8A;
    animation: 3s linear 0s forwards typing, blink 0.75s step-end infinite;
}
#conteudo-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a98e88;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     header {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}  
h1{
    font-size: 50px;
    transition: 2s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #A68E8A;
    animation: 3s linear 0s forwards typing, blink 0.75s step-end infinite;
}
#conteudo-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a98e88;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     #container {
      display: flex;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

section:hover {
    box-shadow: 0 0 25px #6d5b57,0 0 10px #A68E8A;
    transform: perspective(600px) rotatey(5deg);
    transition: transform 1s ease;
}